{% extends 'modules/base.html' %} 
{% load static %} 
{% block title %}Your reservation{% endblock title %}
{% block main_content %}
<main class="px-2 md:px-4 min-h-screen mt-4 md:mt-8">
    <article class="animate__animated animate__backInLeft max-w-screen-md mx-auto px-2 md:px-4 bg-neutral-600 border-2 border-solid shadow-lg border-neutral-700 py-2 md:py-3 rounded-md text-center">
        <h2 class="text-white font-bold font-quicksand">
            The locator code is a unique code that will be assigned to the user when confirming the reservation. This code will be sent by email
        </h2>
    </article>
    <div class="animate__animated animate__slow animate__fadeIn mt-4 md:mt-6">
        <form method="get" class="containerxs flex flex-wrap justify-center items-center">
            <input type="text" name="localizador" id="localizador" placeholder="localizador" class="h-8 w-32 mr-4 text-lg bg-secondarygray rounded px-2 text-textinputfield font-bold outline-principalgreen outline-2 placeholder:text-gray-400">
            <input type="submit" value="Search" class="buttonpricipal px-8">
        </form>
    </div>

    {% if your_reservation %}
        {% for reservation in your_reservation %}
        <div class="containerxs">
            {% if reservation.guest_number|length > 1 %}
            <div class="text-gray-500 font-medium text-lg">
                <p>Reservation for the {{reservation.room.type_of_room.category}} room {{reservation.room.room_number}} on the floor {{reservation.room.floor_number}} for {{reservation.guest_number}} people.</p>
                <p class="mt-1">From {{reservation.entry_date}} to {{reservation.deperture_date}}.</p>
                <p class="mt-1">total cost of {{reservation.total_price}}€.</p>
                <P class="mt-1">In the name of {{reservation.name_of_person}}, email {{reservation.email_of_person}} and telephone {{reservation.phone_number_person}}.</P>
                <p class="mt-3 md:mt-4 text-center text-gray-400 font-normal text-base">Room reservation on {{reservation.reservation_date}}</p>
            </div>
            {% else %}
            <div class="text-gray-500 font-medium text-lg">
                <p>Reservation for the {{reservation.room.type_of_room.category}} room {{reservation.room.room_number}} on the floor {{reservation.room.floor_number}} for {{reservation.guest_number}} person.</p>
                <p class="mt-1">From {{reservation.entry_date}} to {{reservation.deperture_date}}.</p>
                <p class="mt-1">total cost of {{reservation.total_price}}€.</p>
                <P class="mt-1">In the name of {{reservation.name_of_person}}, email {{reservation.email_of_person}} and telephone {{reservation.phone_number_person}}.</P>
                <p class="mt-3 md:mt-4 text-center text-gray-400 font-normal text-base">Room reservation on {{reservation.reservation_date}}</p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}
    
    {% if messages %}
    {% for message in messages %}
    <div class="animate__animated animate__shakeY py-2 px-1 md:px-2 max-w-xs mx-auto text-green-700 font-roboto text-center bg-principalgreen border border-solid border-green-700 rounded-md shadow-md">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

    {% if error %}
    <div class="animate__animated animate__shakeX py-2 px-1 md:px-2 max-w-xs mx-auto text-red-800 font-roboto text-center bg-red-400 border border-solid border-red-800 rounded-md shadow-md">
        {{error}}
    </div>
    {% endif %}
</main>
{% endblock main_content %}
