{% extends 'modules/base.html' %} 
{% load static %} 
{% block title %}Reserve now{% endblock title %}

{% block main_content %}
<main class="px-2 md:px-4 min-h-screen mt-8 md:mt-12">
    <form method="post" class="animate__animated animate__slow animate__fadeIn containerxs flex flex-col items-center">
        <h2 class="font-bold font-roboto text-2xl text-principalgreen text-center">Reserve now</h2>
        {% csrf_token %}
        <input type="hidden" name="{{form.room.name}}" id="{{form.room.name}}" value={{id_room}}>
        <div class="animate__animated animate__shakeX font-roboto text-red-800 mb-4">
            {{form.room.errors}}
        </div>

        <input class="w-52 h-10 mt-1 mb-4 bg-secondarygray rounded px-2 text-textinputfield font-bold outline-principalgreen outline-2" type="date" name="{{form.entry_date.name}}" id="{{form.entry_date.name}}" placeholder="Entry date" value="{{entry_date}}" max="2022-12-31">
        <div class="animate__animated animate__shakeX font-roboto text-red-800 mb-4">
            {{form.entry_date.errors}}
        </div>

        <input class="w-52 h-10 mb-4 bg-secondarygray rounded px-2 text-textinputfield font-bold outline-principalgreen outline-2" type="date" name="{{form.deperture_date.name}}" id="{{form.deperture_date.name}}" placeholder="Deperture date" value="{{deperture_date}}" max="2022-12-31">
        <div class="animate__animated animate__shakeX font-roboto text-red-800 mb-4">
            {{form.deperture_date.errors}}
        </div>

        {{form.guest_number}}
        <div class="animate__animated animate__shakeX font-roboto text-red-800 mb-4">
            {{form.guest_number.errors}}
        </div>

        {{form.name_of_person}}
        <div class="animate__animated animate__shakeX font-roboto text-red-800 mb-4">
            {{form.name_of_person.errors}}
        </div>

        {{form.email_of_person}}
        <div class="animate__animated animate__shakeX font-roboto text-red-800 mb-4">
            {{form.email_of_person.errors}}
        </div>

        {{form.phone_number_person}}
        <div class="flex flex-wrap justify-between">
            <input type="text" placeholder="Code area" id="codearea" class="w-1/3 h-10 mb-3 bg-secondarygray rounded px-2 text-textinputfield font-bold outline-principalgreen outline-2 placeholder:text-gray-400">
            <input type="text" placeholder="Phone number" id="phone" class="w-3/5 h-10 mb-3 bg-secondarygray rounded px-2 text-textinputfield font-bold outline-principalgreen outline-2 placeholder:text-gray-400">
        </div>
        <div class="animate__animated animate__shakeX font-roboto text-red-800 mb-4">
            {{form.phone_number_person.errors}}
        </div>
        <input class="buttonpricipal px-6 mt-4 mb-1" type="submit" value="Reserve">
    </form>
</main>
<script src="{% static 'js/codeArea.js' %}"></script>
{% endblock main_content %}

